 .u-section-1 {
  background-image: none;
  min-height: 894px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 212px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 681px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 14px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 201px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 251px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 678px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 502px;
  margin: 77px -15px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 221px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-1 .u-text-9 {
  margin: 0 164px 0 24px;
}

.u-section-1 .u-text-10 {
  margin: 9px 0 0 24px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 202px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 22px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 210px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2206px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -244px;
    margin-left: calc(((100% - 1140px) / 2) + 422px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 230px);
    margin-right: calc(((100% - 1140px) / 2) + 230px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 207px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 559px;
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    height: 382px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 121px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 173px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2132px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -686px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 642px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1599px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 963px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -1413px;
    margin-left: calc(((100% - 1140px) / 2) + 447px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 606px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1606px;
}

.u-section-2 .u-text-1 {
  margin: 2px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 1219px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px -39px 0;
}

.u-section-2 .u-group-1 {
  min-height: 1269px;
  margin-top: 32px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: -6px 30px 0 22px;
}

.u-section-2 .u-image-1 {
  width: 432px;
  height: 485px;
  object-position: 100% 100%;
  margin: -15px 80px 0 auto;
}

.u-section-2 .u-text-3 {
  text-align: left;
  font-size: 1.125rem;
  margin: -448px 566px 0 28px;
}

.u-section-2 .u-group-2 {
  min-height: 455px;
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0 93px 0 24px;
}

.u-section-2 .u-text-5 {
  text-align: left;
  font-size: 1.125rem;
  margin: 14px 43px 0 24px;
}

.u-section-2 .u-image-2 {
  width: 1033px;
  height: 451px;
  margin: -250px auto 0;
}

.u-section-2 .u-text-6 {
  width: 546px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  text-align: left;
  font-size: 1.125rem;
  margin: 14px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 394px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 940px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 69px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 174px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 314px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-top: -51px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 236px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 293px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: -219px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 382px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -345px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 149px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1879px;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 512px;
  margin: 14px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-3 .u-text-7 {
  text-align: left;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 475px;
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  text-align: left;
  margin: 0;
}

.u-section-3 .u-text-9 {
  text-align: left;
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-3 .u-text-10 {
  text-align: left;
  font-size: 1.125rem;
  margin: -15px 0 0;
}

.u-section-3 .u-text-11 {
  text-align: left;
  font-size: 1.125rem;
  margin: 18px 0 0;
}

.u-section-3 .u-image-4 {
  width: 496px;
  height: 348px;
  margin: 27px auto 0;
}

.u-section-3 .u-text-12 {
  text-align: left;
  margin: 89px 10px 0 0;
}

.u-section-3 .u-text-13 {
  margin: -23px auto 0 0;
}

.u-section-3 .u-text-14 {
  margin: 8px 880px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-text-15 {
  text-align: left;
  margin: 20px 880px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-line-1 {
  width: 1219px;
  height: 3px;
  transform-origin: left center 0px;
  text-align: center;
  margin: 9px -39px 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-4 {
    height: 347px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 680px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 680px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 460px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 460px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 280px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 280px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-3 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: -485px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 238px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 80px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 80px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 581px;
}

.u-section-4 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
  }
}