.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-text-1 {
  animation-duration: 2000ms;
  font-weight: 700;
  margin: 100px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 962px;
  margin: -26px 60px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 755px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  margin: 67px 153px 0 -79px;
}

.u-section-1 .u-image-1 {
  width: 409px;
  height: 409px;
  background-image: url("images/1633373052910.jpg");
  background-position: 50% 50%;
  margin: -360px -307px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 125px;
  height: 125px;
  margin: -139px 28px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 755px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 140px;
  height: 135px;
  margin: 82px 51px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 121px;
  height: 113px;
  margin: 147px 14px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 738px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 146px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 688px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 696px;
  }
}